<div id ="pins" class="transitions-enabled">
  <p id="notice"><%= notice %></p>
  <% @places.each do |place| %>
  <div class="box panel panel-default">
    <div class="panel-body">
      <% place.pics.each do |pic| %>
      <%= link_to image_tag(pic.url), place %>
      <%= link_to image_tag(pic.image.url), place %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>

