<div class="container">
<h1>New Place</h1>

<div id = "place-form">
<%= render 'form' %>
</div>

<h2>New Pic</h2>
<div id = "pics-form">
<%= render 'pics/form' %>
</div>

<%= link_to 'Back', places_path %>
</div>
