a, a:hover, a:active {
	color: #FFFFFF;
	text-decoration: none;
}

.large-header {
	position: relative;
	width: 100%;
	height: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;]
	background-size: cover;
	z-index: 1;
}


.demo-2 .large-header {
	background-image: url('https://sittayubie.files.wordpress.com/2014/07/forest-fog-wide-wallpaper-338155.jpg');
	background-size: cover;
	min-height: 100%;
	min-width: 100vw;
}

.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #FFFFFF;
	text-align: center;
	top: 44%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
	background-size: cover;
}

.come-in {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #FFFFFF;
	text-align: center;
	top: 55%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
	background-size: cover;
}

.sign-in-sign-up {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 56%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
	background-size: cover;
	font-size: 23px;

}

/*.intro {
	position: absolute;
	font-family: 'Clicker Script', cursive;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 35%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
	background-size: cover;
	font-size: 40px;
}*/

.demo-2 .main-title {
	font-family: 'Clicker Script', cursive;
	font-weight: normal;
	font-size: 8em;
	padding-left: 10px;
	text-shadow: 15px 15px 15px rgba(0,0,0,1);
	background-size: cover;
	font: FFFFFF;
}

.demo-2 .come-in{
	font-family: 'Clicker Script', cursive;
	font-weight: normal;
	font-size: 4em;
	padding-left: 10px;
	text-shadow: 10px 10px 10px rgba(0,0,0,0.4);
	background-size: cover;
	font: FFFFFF;
}

.demo-2 .main-title::before {
	content: '';
	width: 20vw;
	height: 20vw;
	min-height: 100%;
	 min-width: 1024px;
	background: url() no-repeat center center;
	background-size: cover;
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	z-index: -1;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}



.main-title .thin {
	font-weight: 200;
}

@media only screen and (max-width : 768px) {
	.demo-1 .main-title, 
	.demo-3 .main-title,
	.demo-4 .main-title {
		font-size: 3em;
	}

	.demo-2 .main-title {
		font-size: 4em;
		background-size: cover;
	}
}